@import "../../../../themes/variables.scss";

.home {
  padding: 24px 0;
  margin-top: 36px;
  height: 100vh;

  background: url('../../../../assets/img-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
  animation-duration: 2s;

  &__btns {
    gap: 8px;
    animation: fadeInUp;
    animation-duration: 4s;
  }
}

// ====================== GENERAL PROPERTIES =================

h2 {
  font-size: 24px;
  text-transform: uppercase;
  animation: fadeInUp;
  animation-duration: 3s;
  font-weight: 700;
}

h1 {
  font-size: 26px;
  animation: fadeInUp;
  animation-duration: 3s;
}

h1 span {
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
  color: $color-tertiary;
}

h1 span::after {
  content: "";
  height: 4px;
  background-color: $color-tertiary;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  animation: linkAfter 0.5s 1s ease both;
}

.container-custom {
  width: 90%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

// ====================== REPONSIVE PROPERTIES =================

@media (min-width: 768px) {
  .home {
    &__btns {
      gap: 24px;
    }
  }

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 44px;
  }

  .container-custom {
    width: 65%;
  }
}

// ====================== KEYFRAMES PROPERTIES =================

@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-o-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
