<main class="main container-custom">
  <section class="home" id="home">
    <div>
      <h2>Elena Arocena</h2>
      <h1>Front-End<span>Developer</span></h1>
    </div>

    <div class="flex home__btns">
      <p-button
      [label]="'buttonHome' | translate"
      [outlined]="true"
        icon="pi pi-file-pdf"
        (click)="onClicPDF()"
      ></p-button>
      <p-button
        label="Linkedin"
        [outlined]="true"
        icon="pi pi-linkedin"
        (click)="onClicLinkedin()"
      >
      </p-button>
    </div>
  </section>
  <about-me></about-me>
  <projects></projects>
  <skills></skills>
</main>
