@import "../../../../variables.scss";

@mixin primeng-modules() {
  // ====================== BUTTON =================

  .p-button {
    color: $color-letter-btn;
    background: $color-background-btn;
    border: none;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 6px;
    font-family: $font-family-custom;

    @media (min-width: 768px) {
      font-size: 1.5rem;

      .pi {
        font-size: 1.5rem;
      }
    }
  }

  .p-button.p-button-outlined:not(:disabled):active {
    color: $color-letter-btn;
    background: $color-background-btn;
    border: none;
  }

  .p-button.p-button-outlined:not(:disabled):hover {
    color: $color-letter-btn;
    background: $color-hover-btn;
    border: none;
    transition: 0.5s;
  }

  // ====================== SIDEBAR =================

  .p-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .p-sidebar-content {
    overflow-y: hidden;
  }

  // ====================== TIMELINE =================

  .p-timeline {
    font-family: $font-family-custom;
  }

  .p-timeline-left .p-timeline-event-opposite {
    text-align: right;
    display: none;
  }

  .p-timeline .p-timeline-event-marker {
    border: 2px solid $color-tertiary;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: $color-tertiary;
  }

  .p-timeline .p-timeline-event-connector {
    background-color: $color-token;
  }

  .p-timeline.p-timeline-vertical .p-timeline-event-content {
    padding: 0 1rem;
    margin-top: -6px;
  }
}
