<section class="about" id="about-me">
  <div class="flex align-items-center gap-3">
    <i class="pi pi-user about-icon"></i>
    <h2>{{ "sectionAbout" | translate }}</h2>
  </div>
  <div class="about__experience">
    <p-timeline [value]="events">
      <ng-template pTemplate="content" let-event>
        <div class="experience-container">
          <div class="experience-container__wrap">
            <p class="status">{{ event.status }}</p>
            <br />
            <span class="company">{{ event.company }}</span>
            <br />
            <span class="date">{{ event.date }}</span>
          </div>
          <br />
          <div class="experience-container__wrap">
            <p>{{ event.description }}</p>
            <br />
            <span class="date"
              ><b>{{ event.aptitude }}</b></span
            >
            <br /><br />
          </div>
        </div>
      </ng-template>
    </p-timeline>
  </div>
  <div class="about__info">
    <div class="info-container">
      <div class="info-container__text">
        <p>
          {{ "aboutInfo" | translate }}
          <span class="info">Junior Front-End Developer</span>.
          {{ "aboutInfo2" | translate }}
          <span class="info">
            {{ "aboutInfoSpan" | translate }}
          </span>
          <br /><br />
          {{ "aboutInfo3" | translate }}
          <span class="info"> {{ "aboutInfoSpan2" | translate }} </span>
          {{ "aboutInfo4" | translate }}
        </p>
      </div>
      <div class="info-container__img"></div>
    </div>
  </div>
</section>
