@import "../../../../themes/variables.scss";

.about {
  padding:24px 0;
  scroll-margin-top: 80px;
  font-family: $font-family-custom;

  &__experience {
    padding: 36px 0;
  }
}

.experience-container {
  &__wrap {
    width: 100%;
  }
}

.info-container {
  &__img {
    background: url(../../../../assets/img-about.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    justify-self: center;
    width: 100%;
    transform: scaleX(-1);

  }
}

.about-icon {
  font-size: 20px;
  font-weight: 500;
}

// ====================== GENERAL PROPERTIES =================

h2 {
  font-size: 24px;
}

p.status {
  font-size: 18px;
  font-weight: 700;
  color: $color-tertiary;
}

span.company {
  font-size: 16px;
  font-weight: 500;
}

span.date {
  color: $color-details;
}

span.info {
  font-weight: 500;
  color: $color-tertiary;
}

// ====================== REPONSIVE PROPERTIES =================

@media (min-width: 992px) {
  .experience-container {
    display: flex;
    &__wrap {
      width: 48%;
    }
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__text {
      width: 60%;
    }

    &__img {
      height: 294px;
      width: 38%;
    }
  }

  h2 {
    font-size: 32px;
  }

  .about-icon {
    font-size: 24px;
  }
}
