// * ====================== COLORS ================= *

$color-primary: black;
$color-secondary: white;
$color-tertiary: #818cf8;

$color-base: #f0f1f3ff;
$color-hover: #535253ff;
$color-details: #94a3b8;
$color-token: #e5e7eb;

// * ====================== BUTTON COLORS ================= *

$color-background-btn: black;
$color-letter-btn: #f0f1f3ff;
$color-hover-btn: $color-tertiary;

// * ====================== FONT FAMILY ================= *

$font-family-custom: "Poppins", sans-serif;

// * ====================== FONT SIZE ================= *

$default-font-size: 14px;
