@import "../../../../themes/variables.scss";

.skills {
  padding: 24px 0;
  scroll-margin-top: 80px;

  &__tech {
    padding-top: 36px;
    &-array {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      padding-top: 12px;
    }
  }
}

.skills-icon {
  font-size: 20px;
  font-weight: 500;
}

.skills-separator {
  font-weight: 700;
  color: $color-tertiary;
}

// ====================== GENERAL PROPERTIES =================

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
  font-weight: 500;
  // color: $color-details;
  display: flex;
  gap: 16px;
}

// ====================== REPONSIVE PROPERTIES =================

@media (min-width: 768px) {
  .skills {
    &__tech {
      &-array {
        justify-content: center;
      }
    }
  }

  .skills-icon {
    font-size: 24px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 22px;
  }
}
