<footer class="footer">
  <div class="container-custom flex flex-column gap-4">
    <div class="flex justify-content-between">
      <div>
        <ul class="flex flex-column gap-3">
          <li><a href="#projects">Proyectos</a></li>
          <li><a href="#about-me">Conóceme</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="mailto:mariaelena.arocena@gmail.com">Contacto</a></li>
        </ul>
      </div>
      <div class="flex gap-3">
        <a href="mailto:mariaelena.arocena@gmail.com"
          ><i class="pi pi-envelope footer-icon"></i
        ></a>
        <a target="_blank" href="https://github.com/marocena26"
          ><i class="pi pi-github footer-icon"></i
        ></a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/maria-elena-arocena-lopez-/"
          ><i class="pi pi-linkedin footer-icon"></i
        ></a>
      </div>
    </div>
    <div>
      <p class="copy">
        &copy; Designed & Developed By Elena Arocena
        <span>💜​</span> {{ currentYear }}
      </p>
    </div>
  </div>
</footer>
