<header
  class="header"
  [ngClass]="{
    sticker: !sidebarVisible,
    header: true,
    light: selectedTheme === 'light',
    dark: selectedTheme === 'dark'
  }"
>
  <div class="container-custom">
    <!-- ************** MOBILE ************** -->
    <nav class="nav showSectionMobile">
      <div class="flex align-items-center gap-3">
        <p class="item">
          <a
            href="#home"
            [ngClass]="selectedTheme === 'dark' ? 'color-light' : 'color-dark'"
            >EA</a
          >
        </p>
        <i
          class="pi pi-moon nav-icon"
          (click)="onThemeChange('dark')"
          *ngIf="selectedTheme === 'light'"
        ></i>
        <i
          class="pi pi-sun nav-icon"
          (click)="onThemeChange('light')"
          *ngIf="selectedTheme === 'dark'"
        ></i>
      </div>

      <div>
        <i class="pi pi-th-large nav-icon" (click)="sidebarVisible = true"></i>
      </div>
    </nav>

    <p-sidebar [(visible)]="sidebarVisible" position="bottom">
      <ng-template pTemplate="content">
        <div class="flex justify-content-between pt-2 pb-2">
          <div
            class="flex flex-column align-items-center"
            (click)="closeSidebar()"
          >
            <i class="pi pi-user nav-icon-sidebar"></i>
            <a
              href="#about-me"
              [ngClass]="
                selectedTheme === 'dark' ? 'color-light' : 'color-dark'
              "
            >
              <p>{{ "navAbout" | translate }}</p>
            </a>
          </div>
          <div
            class="flex flex-column align-items-center"
            (click)="closeSidebar()"
          >
            <i class="pi pi-code nav-icon-sidebar"></i>
            <a
              href="#projects"
              [ngClass]="
                selectedTheme === 'dark' ? 'color-light' : 'color-dark'
              "
            >
              <p>{{ "navProjects" | translate }}</p>
            </a>
          </div>
          <div
            class="flex flex-column align-items-center"
            (click)="closeSidebar()"
          >
            <i class="pi pi-cog nav-icon-sidebar"></i>
            <a
              href="#skills"
              [ngClass]="
                selectedTheme === 'dark' ? 'color-light' : 'color-dark'
              "
            >
              <p>Skills</p>
            </a>
          </div>
          <div
            class="flex flex-column align-items-center"
            (click)="closeSidebar()"
          >
            <i class="pi pi-whatsapp nav-icon-sidebar"></i>
            <a
              href="mailto:mariaelena.arocena@gmail.com"
              [ngClass]="
                selectedTheme === 'dark' ? 'color-light' : 'color-dark'
              "
            >
              <p>{{ "navContact" | translate }}</p>
            </a>
          </div>
        </div>
      </ng-template>
    </p-sidebar>

    <!-- ************** DESK ************** -->
    <nav class="nav showSectionDesk">
      <div class="flex align-items-center gap-3">
        <p class="item">
          <a
            href="#home"
            [ngClass]="selectedTheme === 'dark' ? 'color-light' : 'color-dark'"
            >EA</a
          >
        </p>
        <i
          class="pi pi-moon nav-icon"
          (click)="onThemeChange('dark')"
          *ngIf="selectedTheme === 'light'"
        ></i>
        <i
          class="pi pi-sun nav-icon"
          (click)="onThemeChange('light')"
          *ngIf="selectedTheme === 'dark'"
        ></i>
      </div>
      <ul class="flex gap-4">
        <li class="item">
          <a
            href="#about-me"
            [ngClass]="selectedTheme === 'dark' ? 'color-light' : 'color-dark'"
            >{{ "navAbout" | translate }}</a
          >
        </li>
        <li class="item">
          <a
            href="#projects"
            [ngClass]="selectedTheme === 'dark' ? 'color-light' : 'color-dark'"
            >{{ "navProjects" | translate }}</a
          >
        </li>

        <li class="item">
          <a
            href="#skills"
            [ngClass]="selectedTheme === 'dark' ? 'color-light' : 'color-dark'"
            >Skills</a
          >
        </li>
        <li class="item">
          <a
            href="mailto:mariaelena.arocena@gmail.com"
            [ngClass]="selectedTheme === 'dark' ? 'color-light' : 'color-dark'"
            >{{ "navContact" | translate }}</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<!--
<p-inputSwitch [(ngModel)]="checked" (click)="onThemeChange(checked ? 'dark' : 'light')"></p-inputSwitch> -->
